/* 员工列表修改样式 */
.employee  table thead th,.has-gutter .cell{padding: 0;font-size: 0.18rem;color: #fff;text-align: center;background: #666;}
.employee .el-table__body-wrapper{border-bottom:1px solid #e4e4e4; }
.employee tbody .el-table__row td{padding: 0;color:#333;font-size: 0.16rem; }
.employee .el-table__row span img{width: 0.2rem;height: 0.2rem;}
.employee thead .el-table-column--selection{position: relative;overflow: auto;}
/* .employee thead .el-table-column--selection::before{content: '全选';position: absolute;left: 15px;top: 50%;margin-top: -9%;color: #fff;z-index: 5;} */
.employee table .el-table-column--selection .el-checkbox .el-checkbox__inner{border-radius: 50%;}
.el-table__body tbody .el-table__row tr{background: #fff;color: #333;}
.employeeList .el-dialog__wrapper .el-dialog{width: 60%;}
.employeeList .el-table th .cell{padding: .2rem 0;font-size: .18rem;font-weight: normal;}
.rightB{width: 100%;height: 0.56rem;background: #fff;position:absolute;bottom:0;display:flex;justify-content: space-between;align-items: center;font-size: .14rem;color: #333;padding-right: .8rem;box-sizing: border-box;}

/* 部门设置 */
.department .el-table td,.department .el-table th,.level .el-table td,.level .el-table th{padding: 0;}
.department .el-table th>.cell,.level .el-table th>.cell{line-height:.56rem;padding: 0;}

.left_menu{
    display:flex;
    justify-content: center;
    flex-direction: column;
   
    }
.left_menu>div{
    display: flex;
    height: .63rem;
    white-space: nowrap;
    font-size: .16rem;
    color: #fff;
    align-items: center;
    cursor: pointer;
    padding: 0 .2rem 0 27%;
    box-sizing: border-box;
}
.left_menu>div:last-child{
    width: 100%;
    justify-content:space-between;
}
.left_title_icon{
    width: 0.2rem;
    height: 0.2rem;
    margin-right: .3rem;
}
.left_jt{
    width: .08rem;
    height: .14rem;
}
.setting{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    line-height: .63rem;
    color: #fff;
    font-size: .16rem;
    cursor: pointer;
}
.department .table img,.level .table img,.standards table img{
    width: .2rem;
    height: .2rem;
}
/* 级别设置 */
.level .el-form-item__label{
    color: #f78989;
}
.level  input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}
.pagimg{
    height: .56rem;
    background: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: .5rem;
    box-sizing: border-box;
}
.pagimg>div{
    display:flex;
}
.add{
    height: 0.56rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagemsg{display: flex;height: 100%;justify-content: space-between;align-items: center;}
.pageNum{
    margin-right: 0.2rem;
    line-height: .56rem;
}

i{
    font-size: 20px
}
.employeeList .el-dialog__header{
    padding: 0;
}
.employeeList .el-table td,.employeeList .el-table th{
    padding: 0
}
.changeType .el-form-item__content {
    display: flex;
   
}
.changeType .standardsType .el-input{
    width: 35%;
}
/* 遗漏员工 */
.missEmpBox{
    width: 100%;
}
.missEmpBox .el-dialog__header,.showFile .el-dialog__header{
    /* width: 100%; */
    padding: 0;
}
.showFile .dialog-footer{
    font-size: .62rem;
}
.missEmpBox .el-dialog {
    font-size: .62rem;
}
.missEmpBox .el-dialog__title{
    font-size: .22rem;
}
.missEmpBox .block{
    margin-top: 10px;
}
.missEmpBox .el-dialog__body{
    padding-bottom:10px;
}
.el-table .el-table__row .cell{
    line-height: 5vh;
}
.form .el-form-item__label{
    color: #fff;
}
.form .el-input__inner{
    background: transparent;
    color: #fff;
}